@import '_variables.scss';
@import '_mixins.scss';
@import '_map.scss';

@font-face {
  font-family: 'Robotoregular';
  src: url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Robotobold';
  src: url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FirsNeueregular';
  src: url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
       url('../fonts/TTFirsNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FirsNeuebold';
  src: url('../fonts/TTFirsNeue-Bold.woff2') format('woff2'),
       url('../fonts/TTFirsNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  @include fontRobotoBold;
  line-height: 19px;
  color: $textColor;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.header__background {
  background-color: $bgColor;
}

.container {
  max-width: $containerMaxwidth;
  margin: 0 auto;

  @media (max-width: 1024px) {
  max-width: 962px;
  }
}

.header__container {
  display: flex;
  padding: 24px 0 26px;
  margin-bottom: 41px;

  @media (max-width: 1024px) {
    padding: 27px 0;
    margin-bottom: 34px;
  }
}

.header__logo {
  width: 190px;
  height: 30px;
  margin-right: 139px;

  @media (max-width: 1024px) {
    width: 166px;
    height: 27px;
    margin-right: 82px;
  }
}

.header__social-list {
  display: flex;
  height: 30px;
  @include clearListStyles;

  .header__social-item:not(:nth-child(3n)) {
    margin-right: 20px;
  }

  .header__social-icon {
    fill: $grayColor;
    transition: fill 0.3s ease-in-out;
    @include socialHover;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

.header__social-link {
  &:focus {
    outline: none;
    .header__social-icon {
      fill: $focusColor;
    }
  }
}

.header__btn-find {
  display: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  height: 25px;

  @media (max-width: 1024px) {
    display: block;
  }
}

.header__menu {
  padding-top: 5px;

  @media (max-width: 1024px) {
    padding-top: 0;
  }
}

.header__nav-link {
  @include fontFirsRegular;
  line-height: 21px;
  color: $textColor;
  transition: color .3s ease-in-out;
  &:focus {
    outline: none;
    background-color: $focusColor;
  }
  &:hover {
    color: $btnColor;
    transition: color .5s ease-in-out;
  }
  &:active {
    color: $activeColor;
    background-color: transparent;
    transition: color .3s ease-in-out;
  }
}

.section-hero__container {
  margin-bottom: 62px;
}

.section-hero__grid-item-background {
  position: relative;
  padding-top: 404px;
  padding-left: 59px;
  padding-bottom: 60px;
  background-size: cover;
  height: 630px;
  background: url(../img/Fotoset.png) center center no-repeat transparent;

  @media (max-width: 1024px) {
    padding-top: 424px;
    padding-left: 30px;
    padding-bottom: 30px;
    height: 623px;
    background: url(../img/Fotoset1024.png) center center no-repeat transparent;
  }
}

.section-hero__heshtag {
  @include heshtagStyle;
  padding: 7px 14px;
  @include fontRobotoHesh;
  color: $textColor;
  background-color: $bgColor;
}

.section-hero__description {
  padding-bottom: 5px;
  @include fontRobotoReg;
  line-height: 19px;
  color: $textColor;

  @media (max-width: 1024px) {
    padding-bottom: 9px;
  }
}

.section-hero__header {
  padding-right: 145px;
  padding-bottom: 19px;
  @include fontFirsBold;
  font-size: 36px;
  line-height: 37px;
  color: $textColor;

  @media (max-width: 1024px) {
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 34px;
    line-height: 34px;
  }
}

.section-hero__btn {
  text-align: center;
  padding: 15.5px 22px;
  background-color: $btnColor;
  transition: background-color .3s ease-in-out;
  @include btnHover;
}

.section-hero__header-work {
  margin-top: -6px;
  @include fontFirsBold;
  font-size: 24px;
  line-height: 25px;
  color: $bgColor;

  @media (max-width: 1024px) {
    margin-top: 0;
  }
}

.section-about {
  background-color: $bgColor;
  margin-bottom: 68px;
}

.section-about__header {
  padding-top: 30px;
  padding-bottom: 5px;
  @include fontFirsBold;
  font-size: 24px;
  line-height: 31px;
  color: $textColor;
}

.section-about__description {
  @include fontRobotoReg;
  line-height: 28px;
  color: $grayColor;
  padding-bottom: 70px;

  @media (max-width: 1024px) {
    padding-bottom: 60px;
  }
}

.section-about__picture {
  padding-top: 63px;
  padding-bottom: 23px;

  @media (max-width: 1024px) {
    padding-bottom: 20px;
  }
}

.section-about__send-text {
  @include fontFirsRegularBig;
  line-height: 22px;
  color: $textColor;
  padding-bottom: 14px;
}

.section-about__form {
  display: flex;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.section-about__label {
  position: relative;
}

.section-about__input {
  display: block;
  padding: 16px 23px;
  margin-right: 30px;
  width: 474px;
  @include fontRobotoReg;
  border: none;
  caret-color: $textColor;
  color: $textColor;
  background-color: #4A4A4A;

  &::placeholder {
    color: $grayColor;
    transition: color .5s ease-in-out;
  }

  &:hover {
    &::placeholder {
      color: $btnColor;
      transition: color .5s ease-in-out;
    }
  }

  &:focus {
    outline: 1px solid $btnColor;
    outline-offset: -1px;

    &:invalid {
      outline: none;
    }
  }

  &:invalid {
    outline: 1px solid #F06666;
    outline-offset: -1px;
  }

  @media (max-width: 1024px) {
    width: 342px;
  }
}

.section-about__error {
  position: absolute;
  left: 23px;
  top: 3px;
  font-family: 'Robotoregular', sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #F06666;
}

.section-about__btn {
  text-align: center;
  border: none;
  width: 126px;
  padding: 15.5px 22px;
  background-color: $btnColor;
  transition: background-color .3s ease-in-out;
  @include btnHover;

  @media (max-width: 1024px) {
    margin-top: 20px;
  }
}

.section-project {
  margin-bottom: 56px;
}

.section-project__header {
  @include fontFirsBold;
  font-size: 24px;
  line-height: 31px;
  color: $bgColor;
  padding-bottom: 12px;
}

.section-project__background1 {
  @include prjDescr;
  background: url(../img/Lake.png) center center no-repeat transparent;

  @media (max-width: 1024px) {
    background: url(../img/Lake1024.png) center center no-repeat transparent;
  }
}

.section-project__background2 {
  @include prjDescr;
  background: url(../img/Man.png) center center no-repeat transparent;

  @media (max-width: 1024px) {
    background: url(../img/Man1024.png) center center no-repeat transparent;
  }
}

.section-project__background3 {
  @include prjDescr;
  background: url(../img/Tea.png) center center no-repeat transparent;

  @media (max-width: 1024px) {
    background: url(../img/Tea1024.png) center center no-repeat transparent;
  }
}

.section-project__background4 {
  @include prjDescr;
  background: url(../img/Orange.png) center center no-repeat transparent;

  @media (max-width: 1024px) {
    background: url(../img/Orange1024.png) center center no-repeat transparent;
  }
}

.section-project__background5 {
  @include prjDescr;
  background: url(../img/Girl.png) center center no-repeat transparent;

  @media (max-width: 1024px) {
    background: url(../img/Girl1024.png) center center no-repeat transparent;
  }
}

.section-project__heshtag {
  @include heshtagPrj;
  padding: 6px 14px;
  @include fontRobotoHesh;
  color: $textColor;
  background-color: $bgColor;
}

.section-project__description {
  @include fontRobotoReg;
  line-height: 22px;
  color: $bgColor;
  padding-bottom: 13px;

  &-hidden2 {
    display: none;
  }

  @media (max-width: 1024px) {
    padding-bottom: 17px;
    padding-right: 10px;
    &-hidden {
      display: none;
    }
    &-hidden2 {
      display: inline-block;
    }
  }
}

.section-project__description2 {
  @include fontRobotoReg;
  line-height: 22px;
  color: $textColor;
  margin-bottom: auto;
}

.section-project__block {
  display: flex;
}

.section-project__icon-date {
  fill: $formColor;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.section-project__icon-date2 {
  fill: $textColor;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.section-project__date {
  @include fontRobotoDate;
  color: $formColor;
  text-align: center;
}

.section-project__date2 {
  @include fontRobotoDate;
  color: $textColor;
  text-align: center;
}

.section-project__pictures-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 22px 308px 30px 30px;

  @media (max-width: 1024px) {
    padding: 30px 268px 30px 30px;
  }
}

.section-project__pictures-header {
  margin-top: 2px;
  margin-bottom: 6px;
  @include fontFirsBold;
  font-size: 24px;
  line-height: 24px;
  color: $textColor;
}

.section-project__btn-block {
  margin-bottom: 0;
}

.section-project__btn {
  text-align: center;
  padding: 12.5px 19px;
  border: 3px solid $btnColor;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
  @include btnPrjHover;
}

.section-project__grid-item-background1 {
  @include gridItemBground;
  background: url(../img/Eye.png) center center no-repeat transparent;

  @media (max-width: 1024px) {
    background: url(../img/Eye1024.png) center center no-repeat transparent;
    height: 307px;
  }
}

.section-project__grid-item-background2 {
  @include gridItemBground;
  background: url(../img/Ice.png) center center no-repeat transparent;

  @media (max-width: 1024px) {
    background: url(../img/Ice1024.png) center center no-repeat transparent;
    height: 307px;
  }
}

.section-contact {
  margin-bottom: 68px;
}

.section-contact__header {
  @include fontFirsBold;
  font-size: 24px;
  line-height: 31px;
  color: $bgColor;
  padding-bottom: 22px;
}

.section-contact__grid-hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  order: 1;
  background-color: rgba(32, 32, 32, 0.85);

  @media (max-width: 1024px) {
    display: none;
  }
}

.section-contact__btn-x {
  border: none;
  display: block;
  padding: 0;
  margin: 20px 20px 0 auto;
  background-color: transparent;
}

.section-contact__addres {
  margin: 135px 50px auto 60px;
}

.section-contact__name {
  @include fontFirsRegularBig;
  line-height: 22px;
  color: $textColor;
}

.section-contact__home {
  @include fontRobotoReg;
  line-height: 28px;
  color: $grayColor;
}

.section-contact__phone {
  display: flex;
}

.section-contact__phone-text {
  margin-left: 3px;
  @include fontFirsRegular;
  line-height: 21px;
  color: $textColor;
}

.section-contact__form-header {
  @include fontFirsRegularBig;
  line-height: 22px;
  color: $bgColor;
  margin-top: -5px;
  margin-bottom: 5px;
}

.section-contact__form-description {
  @include fontRobotoReg;
  line-height: 22px;
  color: $formColor;
  margin-bottom: 12px;
}

.section-contact__block {
  display: flex;
}

.section-contact__label {
  position: relative;
}

.section-contact__block-input {
  padding: 16px 23px;
  color: $bgColor;
  @include contactInput;
  @include fontRobotoReg;

  &::placeholder {
    color: $formColor;
    transition: color .5s ease-in-out;
  }

  &:hover {
    &::placeholder {
      color: $btnColor;
      transition: color .5s ease-in-out;
    }
  }

  &:focus {
    outline: 1px solid $btnColor;
    outline-offset: -1px;

    &:invalid {
      outline: none;
    }
  }

  &:invalid {
    outline: 1px solid #F06666;
    outline-offset: -1px;
  }
}

.section-contact__comment-text {
  @include contactInput;
  @include fontRobotoReg;
  height: 150px;
  padding-left: 23px;
  padding-top: 16px;
  color: $formColor;
}

.section-contact__btn-submit {
  text-align: center;
  border: none;
  padding: 15.5px 22px;
  background-color: $btnColor;
  transition: background-color .3s ease-in-out;
  @include btnHover;
}

.footer__background {
  background-color: $bgColor;
}

.footer__container {
  padding: 24px 0 16px;
}

.footer__logo {
  margin-top: 3px;

  @media (max-width: 1024px) {
    width: 166px;
    height: 27px;
  }
}

.footer__tm {
  @include fontFirsRegularLtl;
  line-height: 18px;
  color: #E9E9E9;
}

.footer__description {
  @include fontRobotoReg;
  line-height: 22px;
  color: $grayColor;
  max-width: 361px;
}

.footer__description-copyright {
  color: #4A4A4A;
}

.footer__grid-item-right {
  display: flex;
  flex-direction: column;
}

.footer__description-social {
  @include fontRobotoReg;
  line-height: 22px;
  color: $grayColor;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 8px;
}

.footer__block-social {
  margin-right: 14px;
  margin-left: auto;
}

.footer__social-list {
  display: flex;
  height: 30px;
  @include clearListStyles;

  .footer__social-item:not(:nth-child(3n)) {
    margin-right: 21px;
  }
  .footer__social-icon {
    fill: $grayColor;
    transition: fill 0.3s ease-in-out;
    @include socialHover;
  }
}

.footer__social-link {
  &:focus {
    outline: none;
    .footer__social-icon {
      fill: $focusColor;
    }
  }
}
