@import '_variables.scss';
@import '_mixins.scss';
@import '_map.scss';

@font-face {
  font-family: 'Robotoregular';
  src: url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Robotobold';
  src: url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FirsNeueregular';
  src: url('../fonts/TTFirsNeue-Regular.woff2') format('woff2'),
       url('../fonts/TTFirsNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FirsNeuebold';
  src: url('../fonts/TTFirsNeue-Bold.woff2') format('woff2'),
       url('../fonts/TTFirsNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  @include fontRobotoBold;
  line-height: 19px;
  color: $textColor;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.header__background {
  background-color: $bgColor;
}

.container {
  max-width: $containerMaxwidth;
  margin: 0 auto;
}

.header__container {
  display: flex;
  padding: 24px 0 26px;
  margin-bottom: 41px;
}

.header__logo {
  width: 190px;
  height: 30px;
  margin-right: 139px;
}

.header__social-list {
  display: flex;
  height: 30px;
  @include clearListStyles;

  .header__social-item:not(:nth-child(3n)) {
    margin-right: 20px;
  }
}

.header__menu {
  padding-top: 5px;
}

.header__nav-link {
  @include fontFirsRegular;
  line-height: 21px;
  color: $textColor;
  transition: color .3s ease-in-out;
  &:focus {
    outline: none;
    background-color: $focusColor;
  }
  &:hover {
    color: $FF6E30;
    transition: color .5s ease-in-out;
  }
  &:active {
    color: $activeColor;
    background-color: transparent;
    transition: color .3s ease-in-out;
  }
}

.section-hero__container {
  margin-bottom: 62px;
}

.section-hero__grid-item-background {
  position: relative;
  padding-top: 404px;
  padding-left: 59px;
  padding-bottom: 60px;
  background-size: cover;
  height: 630px;
  background: url(../img/Fotoset.png) center center no-repeat transparent;
}

.section-hero__heshtag {
  @include heshtagStyle;
  padding: 7px 14px;
  @include fontRobotoHesh;
  color: $textColor;
  background-color: $bgColor;
}

.section-hero__description {
  padding-bottom: 5px;
  @include fontRobotoReg;
  line-height: 19px;
  color: $textColor;
}

.section-hero__header {
  padding-right: 145px;
  padding-bottom: 19px;
  @include fontFirsBold;
  font-size: 36px;
  line-height: 37px;
  color: $textColor;
}

.section-hero__btn {
  text-align: center;
  padding: 15.5px 22px;
  background-color: $btnColor;
  transition: background-color .3s ease-in-out;
  &:focus {
    outline: none;
    border: 3px solid $CE4307;
  }
  &:hover {
    background-color: $focusColor;
    transition: background-color .5s ease-in-out;
  }
  &:active {
    background-color: $CE4307;
    transition: background-color .3s ease-in-out;
  }
}

.section-hero__header-work {
  margin-top: -6px;
  @include fontFirsBold;
  font-size: 24px;
  line-height: 25px;
  color: $bgColor;
}

.section-about {
  background-color: $bgColor;
  margin-bottom: 68px;
}

.section-about__header {
  padding-top: 30px;
  padding-bottom: 5px;
  @include fontFirsBold;
  font-size: 24px;
  line-height: 31px;
  color: $textColor;
}

.section-about__description {
  @include fontRobotoReg;
  line-height: 28px;
  color: $grayColor;
  padding-bottom: 70px;
}

.section-about__picture {
  padding-top: 63px;
  padding-bottom: 23px;
}

.section-about__send-text {
  @include fontFirsRegularBig;
  line-height: 22px;
  color: $textColor;
  padding-bottom: 14px;
}

.section-about__form {
  display: flex;
}

.section-about__input {
  display: block;
  padding: 16px 23px;
  margin-right: 30px;
  width: 474px;
  @include fontRobotoReg;
  border: none;
  color: $grayColor;
  background-color: #4A4A4A;
}

.section-about__btn {
  text-align: center;
  border: none;
  padding: 15.5px 22px;
  background-color: $btnColor;
}

.section-project {
  margin-bottom: 68px;
}

.section-project__header {
  @include fontFirsBold;
  font-size: 24px;
  line-height: 31px;
  color: $bgColor;
  padding-bottom: 12px;
}

.section-project__background1 {
  @include prjDescr;
  background: url(../img/Rectangle12.png) center center no-repeat transparent;
}

.section-project__background2 {
  @include prjDescr;
  background: url(../img/Rectangle12_41.png) center center no-repeat transparent;
}

.section-project__background3 {
  @include prjDescr;
  background: url(../img/Rectangle12_42.png) center center no-repeat transparent;
}

.section-project__background4 {
  @include prjDescr;
  background: url(../img/Rectangle12_43.png) center center no-repeat transparent;
}

.section-project__background5 {
  @include prjDescr;
  background: url(../img/Rectangle12_44.png) center center no-repeat transparent;
}

.section-project__heshtag {
  @include heshtagPrj;
  padding: 6px 14px;
  @include fontRobotoHesh;
  color: $textColor;
  background-color: $bgColor;
}

.section-project__description {
  @include fontRobotoReg;
  line-height: 22px;
  color: $bgColor;
  padding-bottom: 13px;
}

.section-project__description2 {
  @include fontRobotoReg;
  line-height: 22px;
  color: $textColor;
  margin-bottom: auto;
}

.section-project__block {
  display: flex;
}

.section-project__icon-date {
  fill: $formColor;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.section-project__icon-date2 {
  fill: $textColor;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.section-project__date {
  @include fontRobotoDate;
  color: $formColor;
  text-align: center;
}

.section-project__date2 {
  @include fontRobotoDate;
  color: $textColor;
  text-align: center;
}

.section-project__pictures-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 22px 308px 30px 30px;
}

.section-project__pictures-header {
  margin-top: 2px;
  margin-bottom: 6px;
  @include fontFirsBold;
  font-size: 24px;
  line-height: 24px;
  color: $textColor;
}

.section-project__btn-block {
  margin-bottom: 0;
}

.section-project__btn {
  text-align: center;
  padding: 12.5px 19px;
  border: 3px solid $btnColor;
}

.section-project__grid-item-background1 {
  @include gridItemBground;
  background: url(../img/Rectangle21_4.png) center center no-repeat transparent;
}

.section-project__grid-item-background2 {
  @include gridItemBground;
  background: url(../img/Rectangle21.png) center center no-repeat transparent;
}

.section-contact {
  margin-bottom: 68px;
}

.section-contact__header {
  @include fontFirsBold;
  font-size: 24px;
  line-height: 31px;
  color: $bgColor;
  padding-bottom: 22px;
}

.section-contact__grid-hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  order: 1;
  background-color: rgba(32, 32, 32, 0.85);
}

.section-contact__btn-x {
  border: none;
  display: block;
  padding: 0;
  margin: 20px 20px 0 auto;
  background-color: transparent;
}

.section-contact__addres {
  margin: 135px 50px auto 60px;
}

.section-contact__name {
  @include fontFirsRegularBig;
  line-height: 22px;
  color: $textColor;
}

.section-contact__home {
  @include fontRobotoReg;
  line-height: 28px;
  color: $grayColor;
}

.section-contact__phone {
  display: flex;
}

.section-contact__phone-text {
  margin-left: 3px;
  @include fontFirsRegular;
  line-height: 21px;
  color: $textColor;
}

.section-contact__form-header {
  @include fontFirsRegularBig;
  line-height: 22px;
  color: $bgColor;
  margin-top: -5px;
  margin-bottom: 5px;
}

.section-contact__form-description {
  @include fontRobotoReg;
  line-height: 22px;
  color: $formColor;
  margin-bottom: 12px;
}

.section-contact__block {
  display: flex;
}

.section-contact__block-input {
  display: block;
  width: 410px;
  margin-bottom: 20px;
  @include fontRobotoReg;
  line-height: 19px;
  border: none;
  color: $formColor;
  background-color: #E9E9E9;
}

.section-contact__block-input1 {
  padding: 16px 23px;
}

.section-contact__comment-text {
  height: 150px;
  padding-left: 23px;
  padding-top: 16px;
}

.section-contact__btn-submit {
  text-align: center;
  border: none;
  padding: 15.5px 22px;
  background-color: $btnColor;
}

.footer__background {
  background-color: $bgColor;
}

.footer__container {
  padding: 24px 0 16px;
}

.footer__logo {
  margin-top: 3px;
}

.footer__tm {
  @include fontFirsRegularLtl;
  line-height: 18px;
  color: #E9E9E9;
}

.footer__description {
  @include fontRobotoReg;
  line-height: 22px;
  color: $grayColor;
  max-width: 361px;
}

.footer__description-copyright {
  color: #4A4A4A;
}

.footer__grid-item-right {
  display: flex;
  flex-direction: column;
}

.footer__description-social {
  @include fontRobotoReg;
  line-height: 22px;
  color: $grayColor;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 8px;
}

.footer__block-social {
  margin-right: 14px;
  margin-left: auto;
}

.footer__social-list {
  display: flex;
  height: 30px;
  @include clearListStyles;

  .footer__social-item:not(:nth-child(3n)) {
    margin-right: 21px;
  }
}
