[class*="ground-pane"] {
  filter:grayscale(1);
}

.ymaps-2-1-79-searchbox {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_right {
  display: none;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-map-copyright__link {
  display: none;
}

.ymaps-2-1-79-controls__bottom {
  display: none;
}

.ymaps-2-1-79-copyrights-pane {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_left {
  display: none;
}

.ymaps-2-1-79-controls__control {
  display: none !important;
}

