@mixin clearListStyles {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin fontFirsRegularLtl {
  font-family: 'FirsNeueregular', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

@mixin fontFirsRegular {
  font-family: 'FirsNeueregular', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@mixin fontFirsRegularBig {
  font-family: 'FirsNeueregular', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

@mixin fontRobotoHesh {
  font-family: 'Robotoregular', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

@mixin fontRobotoReg {
  font-family: 'Robotoregular', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@mixin fontRobotoDate {
  font-family: 'Robotoregular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

@mixin fontFirsBold {
  font-family: 'FirsNeuebold', sans-serif;
  font-weight: 700;
}

@mixin fontRobotoBold {
  font-family: 'Robotobold', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

@mixin heshtagStyle {
  position: absolute;
  left: auto;
  right: 15px;
  top: 15px;

  @media (max-width: 320px) {
    right: 5px;
    top: 6px;
   }
}

@mixin heshtagPrj {
  position: absolute;
  left: auto;
  right: 7px;
  top: 7px;

  @media (max-width: 320px) {
    right: 5px;
    top: 5px;
   }
}

@mixin prjDescr {
  position: relative;
  background-size: cover;
  height: 184px;
  margin-bottom: 18px;
}

@mixin gridItemBground {
  position: relative;
  height: 300px;
  background-size: cover;
}

@mixin btnHover {
  &:focus {
    outline: 3px solid $activeColor;
    outline-offset: -3px;
  }
  &:hover {
    background-color: $focusColor;
    transition: background-color .5s ease-in-out;
  }
  &:active {
    background-color: $activeColor;
    transition: background-color .3s ease-in-out;
  }
}

@mixin btnPrjHover {
  &:focus {
    outline: 3px solid $btnColor;
    background-color: $focusColor;
    outline-offset: -3px;
  }
  &:hover {
    background-color: $btnColor;
    transition: background-color .5s ease-in-out;
  }
  &:active {
    background-color: $activeColor;
    outline: 3px solid $activeColor;
    outline-offset: -3px;
    transition: all .3s ease-in-out;
  }
}

@mixin socialHover {
  &:hover {
    fill: $btnColor;
    transition: fill 0.3s ease-in-out;
  }
  &:active {
    fill: $activeColor;
    transition: fill 0.3s ease-in-out;
  }
}

@mixin contactInput {
  display: block;
  width: 410px;
  margin-bottom: 20px;
  line-height: 19px;
  border: none;
  background-color: #E9E9E9;

  @media (max-width: 1366px) {
    max-width: 342px;
    width: 100%;
  }

  @media (max-width: 975px) {
    max-width: 250px;
  }

  @media (max-width: 768px) {
    max-width: 466px;
    width: 100%;
  }

  @media (max-width: 320px) {
    width: 278px;
    max-width: 278px;
  }
}

@mixin containerPadd {
  @media (max-width: 768px) {
    padding-left: 27px;
    padding-right: 27px;
  }

  @media (max-width: 320px) {
    padding-left: 21px;
    padding-right: 21px;
  }
}
