[class*=ground-pane] {
  filter: grayscale(1);
}

.ymaps-2-1-79-searchbox {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_right {
  display: none;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-map-copyright__link {
  display: none;
}

.ymaps-2-1-79-controls__bottom {
  display: none;
}

.ymaps-2-1-79-copyrights-pane {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_left {
  display: none;
}

.ymaps-2-1-79-controls__control {
  display: none !important;
}

@font-face {
  font-family: "Robotoregular";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Robotobold";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FirsNeueregular";
  src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("../fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FirsNeuebold";
  src: url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-family: "Robotobold", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header__background {
  background-color: #202020;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 962px;
  }
}

.header__container {
  display: flex;
  padding: 24px 0 26px;
  margin-bottom: 41px;
}
@media (max-width: 1024px) {
  .header__container {
    padding: 27px 0;
    margin-bottom: 34px;
  }
}

.header__logo {
  width: 190px;
  height: 30px;
  margin-right: 139px;
}
@media (max-width: 1024px) {
  .header__logo {
    width: 166px;
    height: 27px;
    margin-right: 82px;
  }
}

.header__social-list {
  display: flex;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__social-list .header__social-item:not(:nth-child(3n)) {
  margin-right: 20px;
}
.header__social-list .header__social-icon {
  fill: #CACACA;
  transition: fill 0.3s ease-in-out;
}
.header__social-list .header__social-icon:hover {
  fill: #FF6E30;
  transition: fill 0.3s ease-in-out;
}
.header__social-list .header__social-icon:active {
  fill: #CE4307;
  transition: fill 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .header__social-list {
    display: none;
  }
}

.header__social-link:focus {
  outline: none;
}
.header__social-link:focus .header__social-icon {
  fill: #BC572B;
}

.header__btn-find {
  display: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  height: 25px;
}
@media (max-width: 1024px) {
  .header__btn-find {
    display: block;
  }
}

.header__menu {
  padding-top: 5px;
}
@media (max-width: 1024px) {
  .header__menu {
    padding-top: 0;
  }
}

.header__nav-link {
  font-family: "FirsNeueregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  transition: color 0.3s ease-in-out;
}
.header__nav-link:focus {
  outline: none;
  background-color: #BC572B;
}
.header__nav-link:hover {
  color: #FF6E30;
  transition: color 0.5s ease-in-out;
}
.header__nav-link:active {
  color: #CE4307;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.section-hero__container {
  margin-bottom: 62px;
}

.section-hero__grid-item-background {
  position: relative;
  padding-top: 404px;
  padding-left: 59px;
  padding-bottom: 60px;
  background-size: cover;
  height: 630px;
  background: url(../img/Fotoset.png) center center no-repeat transparent;
}
@media (max-width: 1024px) {
  .section-hero__grid-item-background {
    padding-top: 424px;
    padding-left: 30px;
    padding-bottom: 30px;
    height: 623px;
    background: url(../img/Fotoset1024.png) center center no-repeat transparent;
  }
}

.section-hero__heshtag {
  position: absolute;
  left: auto;
  right: 15px;
  top: 15px;
  padding: 7px 14px;
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #202020;
}

.section-hero__description {
  padding-bottom: 5px;
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .section-hero__description {
    padding-bottom: 9px;
  }
}

.section-hero__header {
  padding-right: 145px;
  padding-bottom: 19px;
  font-family: "FirsNeuebold", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 37px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .section-hero__header {
    padding-right: 10px;
    padding-bottom: 20px;
    font-size: 34px;
    line-height: 34px;
  }
}

.section-hero__btn {
  text-align: center;
  padding: 15.5px 22px;
  background-color: #FF6E30;
  transition: background-color 0.3s ease-in-out;
}
.section-hero__btn:focus {
  outline: 3px solid #CE4307;
  outline-offset: -3px;
}
.section-hero__btn:hover {
  background-color: #BC572B;
  transition: background-color 0.5s ease-in-out;
}
.section-hero__btn:active {
  background-color: #CE4307;
  transition: background-color 0.3s ease-in-out;
}

.section-hero__header-work {
  margin-top: -6px;
  font-family: "FirsNeuebold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  color: #202020;
}
@media (max-width: 1024px) {
  .section-hero__header-work {
    margin-top: 0;
  }
}

.section-about {
  background-color: #202020;
  margin-bottom: 68px;
}

.section-about__header {
  padding-top: 30px;
  padding-bottom: 5px;
  font-family: "FirsNeuebold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}

.section-about__description {
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #CACACA;
  padding-bottom: 70px;
}
@media (max-width: 1024px) {
  .section-about__description {
    padding-bottom: 60px;
  }
}

.section-about__picture {
  padding-top: 63px;
  padding-bottom: 23px;
}
@media (max-width: 1024px) {
  .section-about__picture {
    padding-bottom: 20px;
  }
}

.section-about__send-text {
  font-family: "FirsNeueregular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #FFFFFF;
  padding-bottom: 14px;
}

.section-about__form {
  display: flex;
}
@media (max-width: 1024px) {
  .section-about__form {
    flex-direction: column;
  }
}

.section-about__label {
  position: relative;
}

.section-about__input {
  display: block;
  padding: 16px 23px;
  margin-right: 30px;
  width: 474px;
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  caret-color: #FFFFFF;
  color: #FFFFFF;
  background-color: #4A4A4A;
}
.section-about__input::placeholder {
  color: #CACACA;
  transition: color 0.5s ease-in-out;
}
.section-about__input:hover::placeholder {
  color: #FF6E30;
  transition: color 0.5s ease-in-out;
}
.section-about__input:focus {
  outline: 1px solid #FF6E30;
  outline-offset: -1px;
}
.section-about__input:focus:invalid {
  outline: none;
}
.section-about__input:invalid {
  outline: 1px solid #F06666;
  outline-offset: -1px;
}
@media (max-width: 1024px) {
  .section-about__input {
    width: 342px;
  }
}

.section-about__error {
  position: absolute;
  left: 23px;
  top: 3px;
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #F06666;
}

.section-about__btn {
  text-align: center;
  border: none;
  width: 126px;
  padding: 15.5px 22px;
  background-color: #FF6E30;
  transition: background-color 0.3s ease-in-out;
}
.section-about__btn:focus {
  outline: 3px solid #CE4307;
  outline-offset: -3px;
}
.section-about__btn:hover {
  background-color: #BC572B;
  transition: background-color 0.5s ease-in-out;
}
.section-about__btn:active {
  background-color: #CE4307;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .section-about__btn {
    margin-top: 20px;
  }
}

.section-project {
  margin-bottom: 56px;
}

.section-project__header {
  font-family: "FirsNeuebold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #202020;
  padding-bottom: 12px;
}

.section-project__background1 {
  position: relative;
  background-size: cover;
  height: 184px;
  margin-bottom: 18px;
  background: url(../img/Lake.png) center center no-repeat transparent;
}
@media (max-width: 1024px) {
  .section-project__background1 {
    background: url(../img/Lake1024.png) center center no-repeat transparent;
  }
}

.section-project__background2 {
  position: relative;
  background-size: cover;
  height: 184px;
  margin-bottom: 18px;
  background: url(../img/Man.png) center center no-repeat transparent;
}
@media (max-width: 1024px) {
  .section-project__background2 {
    background: url(../img/Man1024.png) center center no-repeat transparent;
  }
}

.section-project__background3 {
  position: relative;
  background-size: cover;
  height: 184px;
  margin-bottom: 18px;
  background: url(../img/Tea.png) center center no-repeat transparent;
}
@media (max-width: 1024px) {
  .section-project__background3 {
    background: url(../img/Tea1024.png) center center no-repeat transparent;
  }
}

.section-project__background4 {
  position: relative;
  background-size: cover;
  height: 184px;
  margin-bottom: 18px;
  background: url(../img/Orange.png) center center no-repeat transparent;
}
@media (max-width: 1024px) {
  .section-project__background4 {
    background: url(../img/Orange1024.png) center center no-repeat transparent;
  }
}

.section-project__background5 {
  position: relative;
  background-size: cover;
  height: 184px;
  margin-bottom: 18px;
  background: url(../img/Girl.png) center center no-repeat transparent;
}
@media (max-width: 1024px) {
  .section-project__background5 {
    background: url(../img/Girl1024.png) center center no-repeat transparent;
  }
}

.section-project__heshtag {
  position: absolute;
  left: auto;
  right: 7px;
  top: 7px;
  padding: 6px 14px;
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #202020;
}

.section-project__description {
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
  padding-bottom: 13px;
}
.section-project__description-hidden2 {
  display: none;
}
@media (max-width: 1024px) {
  .section-project__description {
    padding-bottom: 17px;
    padding-right: 10px;
  }
  .section-project__description-hidden {
    display: none;
  }
  .section-project__description-hidden2 {
    display: inline-block;
  }
}

.section-project__description2 {
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: auto;
}

.section-project__block {
  display: flex;
}

.section-project__icon-date {
  fill: #999999;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.section-project__icon-date2 {
  fill: #FFFFFF;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.section-project__date {
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #999999;
  text-align: center;
}

.section-project__date2 {
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}

.section-project__pictures-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 22px 308px 30px 30px;
}
@media (max-width: 1024px) {
  .section-project__pictures-block {
    padding: 30px 268px 30px 30px;
  }
}

.section-project__pictures-header {
  margin-top: 2px;
  margin-bottom: 6px;
  font-family: "FirsNeuebold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}

.section-project__btn-block {
  margin-bottom: 0;
}

.section-project__btn {
  text-align: center;
  padding: 12.5px 19px;
  border: 3px solid #FF6E30;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}
.section-project__btn:focus {
  outline: 3px solid #FF6E30;
  background-color: #BC572B;
  outline-offset: -3px;
}
.section-project__btn:hover {
  background-color: #FF6E30;
  transition: background-color 0.5s ease-in-out;
}
.section-project__btn:active {
  background-color: #CE4307;
  outline: 3px solid #CE4307;
  outline-offset: -3px;
  transition: all 0.3s ease-in-out;
}

.section-project__grid-item-background1 {
  position: relative;
  height: 300px;
  background-size: cover;
  background: url(../img/Eye.png) center center no-repeat transparent;
}
@media (max-width: 1024px) {
  .section-project__grid-item-background1 {
    background: url(../img/Eye1024.png) center center no-repeat transparent;
    height: 307px;
  }
}

.section-project__grid-item-background2 {
  position: relative;
  height: 300px;
  background-size: cover;
  background: url(../img/Ice.png) center center no-repeat transparent;
}
@media (max-width: 1024px) {
  .section-project__grid-item-background2 {
    background: url(../img/Ice1024.png) center center no-repeat transparent;
    height: 307px;
  }
}

.section-contact {
  margin-bottom: 68px;
}

.section-contact__header {
  font-family: "FirsNeuebold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #202020;
  padding-bottom: 22px;
}

.section-contact__grid-hidden {
  position: absolute;
  display: flex;
  flex-direction: column;
  order: 1;
  background-color: rgba(32, 32, 32, 0.85);
}
@media (max-width: 1024px) {
  .section-contact__grid-hidden {
    display: none;
  }
}

.section-contact__btn-x {
  border: none;
  display: block;
  padding: 0;
  margin: 20px 20px 0 auto;
  background-color: transparent;
}

.section-contact__addres {
  margin: 135px 50px auto 60px;
}

.section-contact__name {
  font-family: "FirsNeueregular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #FFFFFF;
}

.section-contact__home {
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #CACACA;
}

.section-contact__phone {
  display: flex;
}

.section-contact__phone-text {
  margin-left: 3px;
  font-family: "FirsNeueregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.section-contact__form-header {
  font-family: "FirsNeueregular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #202020;
  margin-top: -5px;
  margin-bottom: 5px;
}

.section-contact__form-description {
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
  margin-bottom: 12px;
}

.section-contact__block {
  display: flex;
}

.section-contact__label {
  position: relative;
}

.section-contact__block-input {
  padding: 16px 23px;
  color: #202020;
  display: block;
  width: 410px;
  margin-bottom: 20px;
  line-height: 19px;
  border: none;
  background-color: #E9E9E9;
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 1024px) {
  .section-contact__block-input {
    width: 342px;
  }
}
.section-contact__block-input::placeholder {
  color: #999999;
  transition: color 0.5s ease-in-out;
}
.section-contact__block-input:hover::placeholder {
  color: #FF6E30;
  transition: color 0.5s ease-in-out;
}
.section-contact__block-input:focus {
  outline: 1px solid #FF6E30;
  outline-offset: -1px;
}
.section-contact__block-input:focus:invalid {
  outline: none;
}
.section-contact__block-input:invalid {
  outline: 1px solid #F06666;
  outline-offset: -1px;
}

.section-contact__comment-text {
  display: block;
  width: 410px;
  margin-bottom: 20px;
  line-height: 19px;
  border: none;
  background-color: #E9E9E9;
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 150px;
  padding-left: 23px;
  padding-top: 16px;
  color: #999999;
}
@media (max-width: 1024px) {
  .section-contact__comment-text {
    width: 342px;
  }
}

.section-contact__btn-submit {
  text-align: center;
  border: none;
  padding: 15.5px 22px;
  background-color: #FF6E30;
  transition: background-color 0.3s ease-in-out;
}
.section-contact__btn-submit:focus {
  outline: 3px solid #CE4307;
  outline-offset: -3px;
}
.section-contact__btn-submit:hover {
  background-color: #BC572B;
  transition: background-color 0.5s ease-in-out;
}
.section-contact__btn-submit:active {
  background-color: #CE4307;
  transition: background-color 0.3s ease-in-out;
}

.footer__background {
  background-color: #202020;
}

.footer__container {
  padding: 24px 0 16px;
}

.footer__logo {
  margin-top: 3px;
}
@media (max-width: 1024px) {
  .footer__logo {
    width: 166px;
    height: 27px;
  }
}

.footer__tm {
  font-family: "FirsNeueregular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #E9E9E9;
}

.footer__description {
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #CACACA;
  max-width: 361px;
}

.footer__description-copyright {
  color: #4A4A4A;
}

.footer__grid-item-right {
  display: flex;
  flex-direction: column;
}

.footer__description-social {
  font-family: "Robotoregular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #CACACA;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 8px;
}

.footer__block-social {
  margin-right: 14px;
  margin-left: auto;
}

.footer__social-list {
  display: flex;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__social-list .footer__social-item:not(:nth-child(3n)) {
  margin-right: 21px;
}
.footer__social-list .footer__social-icon {
  fill: #CACACA;
  transition: fill 0.3s ease-in-out;
}
.footer__social-list .footer__social-icon:hover {
  fill: #FF6E30;
  transition: fill 0.3s ease-in-out;
}
.footer__social-list .footer__social-icon:active {
  fill: #CE4307;
  transition: fill 0.3s ease-in-out;
}

.footer__social-link:focus {
  outline: none;
}
.footer__social-link:focus .footer__social-icon {
  fill: #BC572B;
}

.header__nav-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(1, auto);
  gap: 79px;
  margin-right: 87px;
}
@media (max-width: 1024px) {
  .header__nav-list {
    gap: 33px;
    margin-right: 131px;
  }
}

.section-hero__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 10px auto auto;
  gap: 30px;
}
@media (max-width: 1024px) {
  .section-hero__grid {
    grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
    grid-template-rows: 50px 332px auto;
  }
}

.section-hero__grid-item1 {
  grid-column: 1/3;
  grid-row: 1/4;
}

.section-hero__grid-item2 {
  grid-column: 3/5;
}

.section-hero__grid-item3 {
  grid-column: 3/5;
}
@media (max-width: 1024px) {
  .section-hero__grid-item3 {
    margin-top: -5px;
  }
}

@media (max-width: 1024px) {
  .section-hero__grid-item4 {
    margin-top: -5px;
  }
}

@media (max-width: 1024px) {
  .section-hero__grid-item5 {
    margin-top: -5px;
  }
}

.section-about__grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  grid-gap: 30px;
}

.section-project__grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(80px, 1fr));
  grid-template-rows: repeat(2, 300px);
  gap: 30px;
}
@media (max-width: 1024px) {
  .section-project__grid {
    grid-template-columns: repeat(8, minmax(94px, 1fr));
    grid-template-rows: 285px 307px 307px;
  }
}

.section-project__grid-item1 {
  grid-column: 1/3;
}

.section-project__grid-item2 {
  grid-column: 3/5;
}

.section-project__grid-item3 {
  grid-column: 5/7;
}
@media (max-width: 1024px) {
  .section-project__grid-item3 {
    grid-column: 5/9;
  }
}

.section-project__grid-item4 {
  grid-column: 7/13;
}
@media (max-width: 1024px) {
  .section-project__grid-item4 {
    grid-column: 1/6;
    margin-top: -6px;
  }
}

.section-project__grid-item5 {
  grid-column: 1/7;
}
@media (max-width: 1024px) {
  .section-project__grid-item5 {
    order: 3;
    grid-column: 4/9;
    margin-top: -12px;
  }
}

.section-project__grid-item6 {
  grid-column: 7/10;
}
@media (max-width: 1024px) {
  .section-project__grid-item6 {
    order: 1;
    grid-column: 6/9;
    margin-top: -6px;
  }
}

.section-project__grid-item7 {
  grid-column: 10/13;
}
@media (max-width: 1024px) {
  .section-project__grid-item7 {
    order: 2;
    grid-column: 1/4;
    margin-top: -12px;
  }
}

.section-contact__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(410px, 1fr));
  grid-template-rows: repeat(1, 460px);
  grid-gap: 30px;
}
@media (max-width: 1024px) {
  .section-contact__grid {
    grid-template-columns: repeat(8, minmax(94px, 1fr));
  }
}
.section-contact__grid-item1 {
  grid-column: 1/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  order: 0;
  position: relative;
}
@media (max-width: 1024px) {
  .section-contact__grid-item1 {
    grid-column: 1/6;
  }
}
@media (max-width: 1024px) {
  .section-contact__grid-item2 {
    grid-column: 6/9;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(410px, 1fr));
  grid-template-rows: repeat(1, auto);
  grid-gap: 30px;
}
@media (max-width: 1024px) {
  .footer__grid {
    grid-template-columns: 342px 370px auto;
  }
}